html {
    position: relative;
    min-height: 100%;
    background-image: url("../images/treats-clipart-illustrated-cupcakes-cartoon-vector-baked-goods-ingredients_561077_wh860.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    /* shorthand para top/right/bottom/left = 0 */
    backdrop-filter: blur(8px);
    /* desfoca o fundo */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    /* camada acima do fundo */
    pointer-events: none;
    /* permite clicar nos elementos abaixo */
}

body>* {
    position: relative;
    z-index: 2;
    /* garante que o conteúdo fique acima do overlay */
}