.container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 100dvh;
    max-width: 1200px;
    margin: auto;

    @media(max-width: 768px) {
        flex-direction: column;
    }

    .text-home {
        background-color: var(--backgroundText);
        padding: 1rem 1.5rem;
        border-radius: 10px;
        margin: 2rem;

        @media(max-width: 768px) {
            margin-top: -70px;
        }

        p {
            margin-top: 10px;
            font-size: 18px;

            @media(max-width: 768px) {
                font-size: 16px;
            }

            @media(max-width: 330px) {
                font-size: 14px;
            }
        }

        .quality {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 10px;

            li {
                list-style-type: disc;
                margin-left: 20px;
            }
        }
    }

    .img-home {
        max-width: 600px;

        @media(max-width: 768px) {
            max-width: 300px;
        }

        @media(max-width: 460px) {
            max-width: 250px;
        }

        @media(max-width: 330px) {
            max-width: 200px;
        }

        img {
            width: 100%;
        }
    }

}