.container-store {
    display: flex;
    background-color: var(--Rose100);
    border-radius: 10px;

    @media(max-width: 1470px) {
        margin: 30px;
    }

    @media(max-width: 681px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;

        .cart {
            margin: 20px;
        }
    }

    @media (max-width: 461px) {
        .store .dessert .container-img .add-to-cart {
            bottom: -40px;
            font-size: 12px;
        }

        .store .dessert .type-dessert {
            margin-top: 20px;
        }
    }
}

.store {
    display: grid;
    grid-template-areas:
        "title-desserts title-desserts title-desserts"
        "waffle brulee macaron"
        "tiramisu baklava meringue"
        "cake brownie cotta";

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    padding: 35px 70px;
    gap: 30px;
    border-radius: 10px;
    color: var(--Rose900);

    @media (max-width: 1119px) {
        grid-template-areas:
            "title-desserts title-desserts"
            "waffle brulee"
            "macaron tiramisu"
            "baklava meringue"
            "cake brownie"
            "cotta .";
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 901px) {
        grid-template-areas:
            "title-desserts"
            "waffle"
            "brulee"
            "macaron"
            "tiramisu"
            "baklava"
            "meringue"
            "cake"
            "brownie"
            "cotta";
        grid-template-columns: 1fr;
    }

    .dessert {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            padding: 2px 0;
        }

        .container-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            .add-to-cart {
                position: absolute;
                padding: 10px;
                bottom: -15px;
                border: solid 1px var(--Rose300);
                background: var(--Rose100);
                border-radius: 20px;
                cursor: pointer;
                transition: box-shadow 0.3s ease-out;

                &::before {
                    content: url("../images/icon-add-to-cart.svg");
                    padding: 0 8px;
                    vertical-align: middle;
                }

                &:hover {
                    box-shadow: 0 2px 8px var(--Shop);
                }
            }
        }

        .type-dessert {
            color: var(--Rose400)
        }

        .price {
            color: var(--Shop);
        }
    }
}

.title-desserts {
    grid-area: title-desserts;
    font-weight: 900;
    padding-left: 10px;
}

.img-dessert {
    display: block;
    position: relative;
    margin: auto;
    max-width: 250px;

    img {
        width: 100%;
        border-radius: 10px;
    }

}

.waffle {
    grid-area: waffle;
}

.brulee {
    grid-area: brulee;
}

.macaron {
    grid-area: macaron;
}

.tiramisu {
    grid-area: tiramisu;
}

.baklava {
    grid-area: baklava;
}

.meringue {
    grid-area: meringue;
}

.cake {
    grid-area: cake;
}

.brownie {
    grid-area: brownie;
}

.cotta {
    grid-area: cotta;
}

.cart {
    background: var(--Rose50);
    width: 350px;
    margin: 40px 20px 0 0;
    padding: 20px 40px;
    text-align: center;
    color: var(--Shop);
    border-radius: 10px;
    height: min-content;

    p {
        padding-top: 15px;
        color: var(--Rose400);
    }
}

.cart .image-cart-init {
    margin: 0 auto;
}

.selected-img {
    border: solid 2px var(--Shop);
}


.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    gap: 40px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    padding: 5px;

    p {
        display: flex;
        padding: 5px 0;
    }
}

.btn-finalizar-compra {
    padding: 10px 20px;
    background-color: var(--Shop);
    color: var(--Rose100);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: var(--Green);
    }
}

.remove-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.remove-btn img {
    display: flex;
    width: 14px;
    border: solid 1px var(--Rose400);
    border-radius: 50%;
    padding: 2px;
    transition: filter 0.2s ease-in-out, transform 0.2s ease-out;
}

.remove-btn img:hover {
    filter: brightness(0) saturate(0) invert(0) sepia(0) saturate(0) hue-rotate(320deg);
    transform: scale(1.2);
}

.total-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        padding-top: 15px;
        font-weight: 700;
    }
}

.add-to-cart-selected {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    padding: 10px;
    bottom: -15px;
    border: transparent;
    background: var(--Shop);
    color: var(--Rose50);
    border-radius: 20px;
    gap: 8px;
}

.add-to-cart-selected .decrement {
    height: 18px;
}

.add-to-cart-selected .increment,
.decrement {
    display: flex;
    justify-content: center;
    padding: 3px;
    align-items: center;
    border: solid 1px;
    border-radius: 50%;
    cursor: pointer;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}